* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #fff;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
      background: lightblue;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

#navbar {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100px;
}

#navbar > ul {
    display: flex;
    justify-content: flex-end;
}

#navbar > ul > li {
    padding: 10px;
}

.nav-link {
    color: #000;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.projects-grid {
    display: grid;
    margin: 0 auto;
    width: 60%;
    height: auto;
    padding-bottom: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
        "project1 project2 project3"
        "project4 project5 project6";
    font-size: 1em;
}

#project1 { grid-area: project1; }
#project2 { grid-area: project2; }
#project3 { grid-area: project3; }
#project4 { grid-area: project4; }
#project5 { grid-area: project5; }
#project6 { grid-area: project6; }

.project-tile {
    display: flex;
    padding: 20px;
    border: 1px solid #fff;
}

.project-link {
    color: #fff;
    text-decoration: none;
}

.project-link:hover {
    color: #0FF;
}

#contact {
    display: flex;
    flex-direction: column;
    background: white;
}

#contact > h2 {
    text-align: center;
    color: #333;
    padding: 20px;
}

#icon {
    width: 50px;
    height: auto;
}

#profile-link {
    margin: 0 auto;   
}