* {
    margin: 0;
    padding: 0;
}

#main {
    background: #6a6a6a;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Murecho', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.item {
    padding: 10px;
}

#title {
    font-size: 4em;
}

#img-div {
    padding: 25px;
    background: #333;
}

#image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 360px;
    margin: 0 auto;
}

#img-caption {
    font-style: italic;
}

#tribute-link {
    color: #00ffff;
}

#tribute-link:hover {
    color: #00aaff;
}

li {
    padding: 15px;
    font-size: 1.4em;
}

h2 {
    font-size: 2em;
    font-weight: 1000;
}

h3 {
    background: #333;
    padding: 30px;
}